@font-face {
  font-family: 'Carlytte';
  src: url('https://assets.cinelove.me/fonts/webfonts/carlytte/carlytte.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/carlytte/carlytte.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}