@font-face {
  font-family: 'Katty Diona';
  src: url('https://assets.cinelove.me/fonts/webfonts/katty-diona/katty-diona.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/katty-diona/katty-diona.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}