@font-face {
  font-family: 'The Hamstter';
  src: url('https://assets.cinelove.me/fonts/webfonts/the-hamstter/the-hamstter.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/the-hamstter/the-hamstter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}