@font-face {
  font-family: 'Aquarelle';
  src: url('https://assets.cinelove.me/fonts/webfonts/aquarelle/aquarelle.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/aquarelle/aquarelle.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}