@font-face {
  font-family: 'OpenSans';
  src: url('https://assets.cinelove.me/fonts/webfonts/opensans/opensans.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/opensans/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}