@font-face {
  font-family: 'Mallong';
  src: url('https://assets.cinelove.me/fonts/webfonts/mallong/mallong.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/mallong/mallong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}