@font-face {
  font-family: 'Belinda Avenue';
  src: url('https://assets.cinelove.me/fonts/webfonts/belinda-avenue/belinda-avenue.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/belinda-avenue/belinda-avenue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}